{% extends 'base.html' %}

{% block title %}Presentation 1{% endblock %}

{% block content %}
<div class="card text-center">
    <div class="card-header">
        Access Granted
    </div>
    <div class="card-body">
                        <h5 class="card-title">Our Nigga Way</h5>
                        <p class="card-text">You have successfully accessed <strong>Our Nigga Way</strong>. Click the button below to download the presentation.</p>
                <a href="{{ url_for('download_ppt', ppt_id=ppt_id) }}" class="btn btn-primary">
                    Download Our Nigga Way
        </a>
    </div>
    <div class="card-footer text-body-secondary">
        <a href="{{ url_for('home') }}">Back to Home</a>
    </div>
</div>
{% endblock %} 